* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --color-light : whitesmoke;
    --color-dark : dimgray;
    --color-dark2 : midnightblue;
}

body {
    background-color: var(--color-light);
}